.beverage-details.with-padding {
  padding-bottom: 0;
}

.with-padding {
  padding: 28px 27px;
}
.with-top-bottom-padding-0 {
  padding: 0 27px;
}
.beverage-sizes {
  margin-bottom: 21px;
}

.beverage-sizes ul {
  display: grid;
  grid-gap: 14px;
  grid-auto-flow: column;
  justify-content: center;
  text-align: center;
}

.beverage-sizes ul li {
  box-sizing: border-box;
  border-radius: 29.5px;
  width: 52px;
  height: 102px;
  border: 1px solid #5b3427;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.beverage-sizes ul li.active {
  background: #5b3427;
}

.beverage-sizes ul li.active path {
  fill: #faf5f0;
}

.du_beverage-sizescup_list ul li.active .size-wrapper .size-name {
  color: #fff;
}

.beverage-sizes ul li.active .size-wrapper .size-unit {
  color: #faf5f0;
}

.beverage-sizes ul li .beverage-size {
  margin-bottom: 5px;
}

.beverage-sizes ul li .size-wrapper {
  line-height: normal;
}

.beverage-sizes ul li .size-wrapper .size-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.366667px;
  color: #5b3427;
  font-family: "MarkOT-Heavy";
}

.beverage-sizes ul li .size-wrapper .size-unit {
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.2px;
  color: #5b3427;
  font-family: "MarkOT-Heavy";
}

.beverage-sizes ul li.active .size-name,
.beverage-sizes ul li.active .size-unit {
  color: #faf5f0;
}

.choose-options {
  background: #5b3427;
  padding: 13px 0 13px 27px;
}

.beverage-details-sleder-wrap {
  position: relative;
}

.on-the-fly-box {
  top: 0;
  width: 100%;
  z-index: 11;
  transform: translateY(80%);
  transition-timing-function: ease-in;
  transition: 0.2s;
  opacity: 0;
  height: 0;
  position: absolute;
}

.on-the-fly-box.brew-active {
  height: 95px;
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;
  top: -76px;
}

.brew-customize .customize-title {
  margin-bottom: 18px;
  text-align: center;
  position: relative;
}

.brew-customize .customize-title::before,
.brew-customize .customize-title::after {
  position: absolute;
  content: "";
  bottom: 0;
  top: 0;
  margin: auto;
  height: 1px;
  background: #5b3427;
  width: 100%;
  font-family: "MarkOT-Book";
}

.brew-customize .customize-title::before {
  left: 0;
}

.brew-customize .customize-title::after {
  right: 0;
}

.brew-customize .customize-title span {
  font-size: 13px;
  line-height: 30px;
  color: #5b3427;
  text-align: center;
  background: #faf5f0;
  position: relative;
  z-index: 1;
  padding: 0 20px;
  font-family: "MarkOT-Book";
}

.brew-customize .temprature-streangth {
  text-align: center;
  position: relative;
}

.brew-customize .temprature-streangth .temprature-streangth-inner {
  border: 1.25px solid #5b3427;
  box-sizing: border-box;
  border-radius: 38px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  font-family: "MarkOT-Book";
}

.brew-customize .temprature-streangth .temprature-streangth-inner::after {
  position: absolute;
  content: "";
  bottom: 0;
  top: 0;
  margin: auto;
  width: 1px;
  background: #5b3427;
  height: 70%;
}

.temprature-streangth-inner .streangth-container span.put-in-next,
.temprature-streangth-inner .temprature-container span.put-in-next {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.temprature-streangth-inner .streangth-container span,
.temprature-streangth-inner .temprature-container span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  color: #5b3427;
  font-family: "MarkOT-Book-Italic";
}

.temprature-streangth-inner .streangth-container strong,
.temprature-streangth-inner .temprature-container strong {
  font-style: normal;
  font-family: "MarkOT-Bold";
  font-size: 15px;
  line-height: normal;
  color: #5b3427;
}

.streangth-container {
  flex: 1;
  border-radius: 38px 0 0 38px;
  height: 76px;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.temprature-container {
  flex: 1 1px;
  border-radius: 0 38px 38px 0;
  height: 76px;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.streangth-container.selected,
.temprature-container.selected {
  background: #5b3427;
}

.temprature-streangth-inner .streangth-container.selected span,
.temprature-streangth-inner .temprature-container.selected span,
.temprature-streangth-inner .streangth-container.selected strong,
.temprature-streangth-inner .temprature-container.selected strong {
  color: #fff;
}

.brew-customize
  .temprature-streangth
  .temprature-streangth-inner.box-selected::after {
  display: none;
}

.submit-button-container {
  padding: 0 0 20px 0;
  margin-top: 40px;
  position: relative;
  z-index: 111;
}

.submit-button-container .submit-button-inner {
  text-align: center;
}

.submit-button-container .submit-button-inner img.submit-btn {
  width: 94px;
  cursor: pointer;
}

.choose-options strong {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  color: #faf5f0;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  font-family: "MarkOT-Bold";
}

.choose-options .slick-list .slick-slide span {
  font-size: 13px;
  font-family: "MarkOT-Bold";
  line-height: 23px;
  outline: 0;
  color: #faf5f0;
  border: 1.25px solid #faf5f0;
  box-sizing: border-box;
  border-radius: 35px;
  display: block;
  text-align: center;
  padding: 6px 7px;
  cursor: pointer;
}

.choose-options .slick-list div {
  outline: 0;
}

.choose-options .slick-list .slick-slide.slick-current span {
  color: #5b3427;
  background: #faf5f0;
}

.choose-options .slick-list .slick-track {
  position: relative;
  left: -5px;
}

.choose-options .slick-list .slick-slide {
  padding: 2px 6px;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

div.aligned-vertical {
  display: inline-block;
}

.choose-options .slick-list .slick-slide.slick-current span {
  color: #faf5f0;
  background: #5b3427;
}

.choose-options .slick-list .slick-slide .active span {
  color: #5b3427;
  background: #faf5f0;
}

.single-beverage .choose-options .slick-track {
  margin-left: unset;
}

@media screen and (max-width: 350px) {
  .beverage-sizes ul {
    grid-gap: 9px;
  }

  .beverage-sizes ul li {
    width: 45px;
  }
}
