html,
body,
#root {
  height: 100vh;
}

.brewing-container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brewing-container .brewing-message {
  line-height: 37px;
  font-size: 35px;
  color: #5b3427;
  font-style: normal;
  font-family: "Archer";
  text-align: center;
}
.brewing-container p {
  line-height: 24px;
  font-size: 18px;
  color: #5b3427;
  font-style: normal;
  font-family: "MarkOT-Medium";
  text-align: center;
}

.brewing-container .brewing-logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .brewing-container .brewing-message {
    max-width: 260px;
    margin: 0 auto;
    position: relative;
    top: -20px;
  }
}
