.h-wrapper {
  height: 160px;
  position: relative;
  overflow: hidden;
}

.h-wrapper img.bg-img {
  width: 100%;
  position: relative;
  height: 100%;
  object-fit: cover;
}

.h-wrapper img.logo-img {
  margin: 0 auto;
  width: 92px;
}

.logo-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.logo-inner {
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100%;
}

.beverages-img-container {
  position: absolute;
  bottom: 0px;
  width: 135px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .beverages-img-container {
    width: 145px;
  }
}

.beverage-info {
  position: relative;
  z-index: 11;
}

.logo-inner a {
  display: block;
  margin: 0 auto;
}

.h-detail .logo-inner {
  justify-content: space-between;
  margin: 0px 27px 0 27px;
  align-items: flex-end;
  padding-bottom: 16px;
}

.h-detail .logo-left {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.h-detail .logo-left .back-btn {
  position: absolute;
  left: -20px;
  width: 25px;
  top: -20px;
  cursor: pointer;
}

.h-detail .logo-left .back-btn img {
  width: auto;
  margin: 0;
}

.h-detail .logo-left img.logo-img {
  width: 52px;
  margin: 0;
}

.h-detail .logo-left .logo-beverage {
  margin: 0 0 5px 23px;
  display: inline-block;
  width: 52px;
}

.h-detail .logo-left h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #5b3427;
  max-width: 165px;
  min-height: 56px;
  text-align: left;
}

.lightbox {
  cursor: pointer;
}
.grid-list-view {
}
.grid-list-view .grid,
.grid-list-view .list {
  cursor: pointer;
}
